name: test suite
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Build and Check
    runs-on: blacksmith-4vcpu-ubuntu-2404-arm
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - name: Build and test
        run: cargo test --all-features
      - name: Lint
        run: cargo clippy -- -Dwarnings
